# Budget Analysis:
-------------------------

### This analyzes the records to calculate each of the following:
* The total number of months included in the dataset.
* The net total amount of Profit/Losses over the entire period.
* The average of the changes in Profit/Losses over the entire period.
* The greatest increase in profits (date and amount) over the entire period.
* The greatest decrease in losses (date and amount) over the entire period.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from pathlib import Path
import csv

In [2]:
# Import data
csv_path = Path('Resources/budget_data.csv')
csv_path

WindowsPath('Resources/budget_data.csv')

In [3]:
budget_pl = pd.read_csv(csv_path, index_col='Date', parse_dates=True, infer_datetime_format=True)
budget_pl.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [4]:
# Analyze data
budget_pl.isnull().sum()

Profit/Losses    0
dtype: int64

In [5]:
budget_pl.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

## Find total number of months included in the dataset.

In [6]:
total_months = budget_pl.count()
total_months

Profit/Losses    86
dtype: int64

## Find net total amount of Profit/Loss over the entire period.

In [7]:
net_total_Profit_and_Loss = budget_pl.sum()
net_total_Profit_and_Loss

Profit/Losses    38382578
dtype: int64

## Find average of the changes in Profit/Losses over the entire period.

In [8]:
# mean_total_Profit_and_Loss = np.mean(budget_pl)
# mean_total_Profit_and_Loss

In [9]:
# # Set list variable change to hold calculated changes from month to month
# change = []

In [10]:
print(budget_pl['Profit/Losses'][0])

867884

In [11]:
for value in budget_pl:
    print(value)

Profit/Losses

In [12]:
# Initializing variables to hold the months and Profit/Loss:
month = []
p_and_l = []
#count = []
monthly_PnL_change = []

# Set variables for tracking Profit/Loss
previous_PnL = 0
current_PnL_change = 0

greatest_increase = 0
greatest_inc_month = ''
greatest_decrease = 0
greatest_dec_month = ''

# Track total Profit/Loss over time:
total_Pnl_change = 0

In [13]:
# Initialize line_num variable to track row line # (Provide Total # of Months)
line_num = 0

In [14]:
with open(csv_path, 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    
    # Skip the Header Row
    next(csv_reader)
    
    for line in csv_reader:
        #count.append(line_num)
        month.append(line[0])
        p_and_l.append(int(line[1]))
        
        # Calculate total monthly Profit/Loss change over time
        total_Pnl_change = total_Pnl_change + int(line[1])
        
        current_PnL_change = int(line[1]) - previous_PnL
        print(current_PnL_change)
        previous_PnL = current_PnL_change
        monthly_PnL_change.append(current_PnL_change)
        
        
        if current_PnL_change > greatest_increase:
            greatest_increase = current_PnL_change
            greatest_inc_month = line[0]
            print(f"The new greatest increase is {greatest_increase} during {greatest_inc_month}")
            
        if current_PnL_change < greatest_decrease:
            greatest_decrease = current_PnL_change
            greatest_dec_month = line[0]
            print(f"The new greatest decrease is {greatest_decrease} during {greatest_dec_month}")
        
        line_num+=1

867884
The new greatest increase is 867884 during Jan-2010
116771
205242
-274659
The new greatest decrease is -274659 during Apr-2010
585162
-62305
1095401
The new greatest increase is 1095401 during Jul-2010
-490516
The new greatest decrease is -490516 during Aug-2010
274130
203402
690408
-770761
The new greatest decrease is -770761 during Dec-2010
1550567
The new greatest increase is 1550567 during Jan-2011
-1885770
The new greatest decrease is -1885770 during Feb-2011
2583615
The new greatest increase is 2583615 during Mar-2011
-1790452
2275522
-1691400
1754129
-1085950
1985856
-1151137
1283140
-973162
217596
952997
-700209
1851727
-1034471
1605228
-1098526
75992
399070
380906
-236731
779225
-419892
741361
-673581
1145016
-579413
1451893
-662413
1662355
-2858580
The new greatest decrease is -2858580 during Sep-2013
3127577
The new greatest increase is 3127577 during Oct-2013
-3815563
The new greatest decrease is -3815563 during Nov-2013
4966024
The new greatest increase is 4966024 during Dec-2013
-4283566
The new greatest decrease is -4283566 during Jan-2014
4901422
-4077324
4659267
-4526403
The new greatest decrease is -4526403 during May-2014
4974465
The new greatest increase is 4974465 during Jun-2014
-4285304
5086005
The new greatest increase is 5086005 during Aug-2014
-3919362
4866695
-4288027
5276532
The new greatest increase is 5276532 during Dec-2014
-4136817
5166288
-4478755
3954129
-3795509
3883304
-3459915
4300638
-3732109
4064176
-3074677
3852914
-3202914
2102527
-2277473
3034616
-2588907
3301868
-4465665
5035564
-4267114
4369799
-3573885
3634873
-3496643
4167742

In [15]:
total_Pnl_change

38382578

In [16]:
line_num

86

In [26]:
# Calculate average Profit/Loss over time:
average_Profit_Loss = round((total_Pnl_change / line_num), 2)
average_Profit_Loss

446309.05

In [29]:
print(f"Financial Analysis")
print(f"--------------------------------------------")
print(f"Total Months: {line_num}")
print(f"Total: ${total_Pnl_change}")
print(f"Average Change: ${average_Profit_Loss}")
print(f"Greatest Increase in Profits: {greatest_inc_month}  (${greatest_increase})")
print(f"Greatest Decrease in Profits: {greatest_dec_month}  (${greatest_decrease})")

Financial Analysis
--------------------------------------------
Total Months: 86
Total: $38382578
Average Change: $446309.05
Greatest Increase in Profits: Dec-2014  ($5276532)
Greatest Decrease in Profits: May-2014  ($-4526403)

In [30]:
np.mean(p_and_l)

446309.0465116279

In [31]:
np.mean(monthly_PnL_change)

247385.58139534883